extends ../layout

block head
    script(src="https://cdn.tiny.cloud/1/3jm39o55k104ldhofgzozj0s61p5y84nz2th7njv5hef0qhe/tinymce/5/tinymce.min.js" referrerpolicy="origin")
    script.
        tinymce.init({selector: '#content'});

block content
    h1.text-center To Be Done...
